@model DoAnChuyenNganh.Models.NguoiDung
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
}
    
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="w-50">
        @using (Html.BeginForm("Create", "User", new { area = "Admin" }, FormMethod.Post))
        {
            <div class="mb-3">
                <h2 class="text-center">Tạo Tài Khoản Quản Lý</h2>
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.TenDangNhap, "Tên đăng nhập")
                @Html.TextBoxFor(model => model.TenDangNhap, new { @class = "form-control" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.MatKhau, "Mật khẩu")
                @Html.TextBoxFor(model => model.MatKhau, new { @class = "form-control", type = "password" })
            </div>
            <div class="mb-3">
                @Html.Label("Nhập Lại Mật Khẩu", new { @for = "NhapLaiMatKhau" })
                @Html.TextBox("retypePassword", "",new { @class = "form-control", type = "password" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.Email, "Email")
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Tạo</button>
                <a href="/admin/user" class="btn btn-danger">Bỏ</a>
            </div>
        }

    </div>
</div>
